{% extends "base.html" %}

{% block content %}

<h2>Register</h2>

<form method="POST">

<label>Name</label>
<input type="text" name="name" required>

<label>Email</label>
<input type="email" name="email" required>

<label>Password</label>
<input type="password" name="password" required>

<label>Role</label>
<select name="role">
<option value="jobseeker">Job Seeker</option>
<option value="employer">Employer</option>
</select>

<button type="submit">Register</button>

</form>

{% endblock %}